<div class="image-toolbar">
  <button (click)="addRowAboveEvent()">addRowAbove</button>
  <button (click)="addRowBelowEvent()">addRowBelow</button>
  <button (click)="addColLeftwardEvent()">addColLeftward</button>
  <button (click)="addColRightwardEvent()">addColRightward</button>
  <button (click)="mergeTableEvent()">mergeTable</button>
  <button (click)="unmergeEvent()">unmerge</button>
  <button (click)="deleteRowEvent()">deleteRow</button>
  <button (click)="deleteColEvent()">deleteCol</button>
</div>
